<div id="header">
  <%= link_to 'home', posts_path %>
  <% if is_admin? then %>
   | <%= link_to 'new', new_post_path %>
   | <%= link_to 'logout', sessions_path %>
  <% end %>
</div>

<div id="notice"><%= notice %></div>

<h1>記事一覧</h1>

<h2>カテゴリ検索</h2>
<%= form_tag :search_posts, method: :get do %>
  <p>
    <%= select_tag('q', options_for_select(@array, :selected => params[:q]))%>
    
    <%= submit_tag "検索" %>
  </p>
<% end %>

<table id="posts-table">
<tr>
    <th>タイトル</th>
    <th>投稿者</th>
    <th>投稿日</th>
    <th>カテゴリ</th>
    <th>コメント</th>
    <% if is_admin? then %><th> </th><% end %>
</tr>
<% @posts.each do |post| %>
<% category = getCategory(post.category_id) %>
<tr id="post_<%= post.id %>" class="post-<%= category.color %>">
    <td><%= link_to truncate(post.title, :length => 30), post_path(post) %></td>
    <td><%= getUserName(post.user_id) %></td>
    <td>
      <%= post.post_date.strftime("%Y/%m/%d %H:%M") %>
    </td>
    <td class="post-category"><%= category.category_name %></td>
    <td>(<%= post.comments.size %>)</td>
    <% if is_admin? then %>
    <td><%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete', post, :confirm => "sure",
                            :method => :delete,
                            :remote => :true %></td>
    <% end %>
</tr>
<% end %>
</table>
<%= paginate @posts %>
<script>
$(function(){
	setTimeout(function(){
		$('#notice').fadeOut("slow");
	},800);

    $('a[data-method="delete"]').on('ajax:success', function(e, data, status, xhr) {
    $('#post_'+data.post.id).fadeOut("slow");
    }
	);
	
});
</script>
